<%= error_messages_for :session %>



<% form_tag sessions_path, :class => 'cmxform' do -%>

<fieldset>
	<legend>Log in</legend>

	<ol>
		<li>
			<label for="user_login">Username</label>
			<%= text_field_tag 'login' %>
		</li>
		<li>
			<label for="user_password">Password</label>
			<%= password_field_tag 'password' %>
		</li>
		<li>
			<label for="user_remember_me">Remember me</label>
			<%= check_box_tag 'remember_me' %>
		</li>
	</ol>

	</fieldset>

	<p><%= submit_tag 'Log in', :class => 'button positive accept' %></p>

<% end -%>