
<% form_tag sessions_path, :class => 'cmxform' do -%>

  <%= error_messages_for :session %>

  <fieldset>

  	<legend><%= pagetitle('Log in') %></legend>

  	<p>If you registered before July 28th 2008, you are awesome. <br />Also, your password might not work, so send me an email using the link in the sidebar.</p>

  	<ol>
  		<li>
  			<label for="login">Username</label>
  			<%= text_field_tag 'login' %>
  		</li>
  		<li>
  			<label for="password">Password</label>
  			<%= password_field_tag 'password' %>
  		</li>
  		<li>
  			<label for="remember_me">Remember me</label>
  			<%= check_box_tag 'remember_me' %>
  		</li>
  	</ol>

	</fieldset>

	<p><%= submit_tag 'Log in', :class => 'button positive accept' %></p>

<% end -%>