<%= error_messages_for :user %>

<% form_for(:user, :url => user_path(@user), :html => { :method => :put }) do |f| %>

	<p>
		<label for="user_login">Username</label><br />
		<%= f.text_field :login %>
	</p>

	<p>
		<label for="user_email">Email</label><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<label for="user_password">New Password</label><br />	
		<%= f.text_field :password %>
	</p>

	<p>
		<label for="user_password_confirmation">Confirm Password</label><br />	
		<%= f.text_field :password_confirmation %>
	</p>

	<p><%= submit_tag "Submit" %></p>

<% end %>