<% form_for :user, :url => user_path(@user), :html => { :method => :put, :class => 'cmxform' } do |f| -%>

  <%= error_messages_for :user %>

  <fieldset>

  	<legend><%= pagetitle('Account Settings') %></legend>

  	<ol>
  		<li>
  			<label for="user_login">Username</label>
  			<%= f.text_field :login %>
  		</li>
  		<li>
  			<label for="user_email">Email</label>
  			<%= f.text_field :email %>
  		</li>
  		<li>
  			<label for="user_password">New Password</label>
  			<%= f.password_field :password %>
  		</li>
  		<li>
  			<label for="user_password_confirmation">Confirm new password</label>
  			<%= f.password_field :password_confirmation %>
  		</li>
  	</ol>

	</fieldset>

	<p><%= submit_tag 'Save changes', :class => 'button positive accept' %></p>

<% end -%>