<% if @items != nil %>
	<% for item in @items %>
		<% versions = item.versions %>
		<% if versions[0] != nil %>
			<div class="manage_map">
				<table class="manage">
					<tr>
						<th scope="col">Version</th>
						<th scope="col">Downloads</th>
						<th scope="col">Uploaded</th>
					</tr>
					<% for version in versions %>
						<tr class="<%= "newest" if version == item.find_version %>">
							<td width="100px">
								<% if version == item.find_version %>
									<%= link_to clean(version.name), item_download_url(item) %><br /><small><%= link_to 'edit', edit_item_version_path(item, version) %></small>
								<% else %>
									<%= clean(version.name) %>
								<% end %>
							</td>
							<td><%= version.downloads.size %></td>
							<td><%= version.created_at.to_s(:readable_short) %></td>
						</tr>
					<% end %>
				</table>

				<h3><%= link_to clean(item.name), item_path(item) %></h3>
				<%= link_to "Manage Screenshots", item_screenshots_url(item), :class => 'controls' %><br />
				<%= link_to "Edit", edit_item_url(item), :class => 'controls' %>, 
				<%= link_to "update", new_item_version_url(item), :class => 'controls' %>, 
				<%= link_to "destroy", item_url(item), :class => 'controls', :confirm => "Are you sure? This will destroy this item, along with all the versions, screenshots, and reviews associated with it.", :method => :delete %><br />
				<%= pluralize(item.reviews.size, 'review') %>, <%= pluralize(item.downloads.size, 'downloads') %>
			</div>
			<hr class="clear">
		<% else %>
			<div class="notice">
				<%= clean(item.name) %> is missing its first revision, <%= link_to 'add one', new_item_version_url(item) %> or <%= link_to "Destroy it", item_url(item), :class => 'controls', :confirm => "Are you sure?", :method => :delete %>.
			</div>
		<% end %>
	<% end %>
	
	<%= will_paginate @items %>
<% else %>
	Nothing to see here, move along...
<% end %>