<div class="simple">

  <h2><%= pagetitle('Your Uploads') %></h2>

  <% if @items[0] == nil %>
  	<p>You can use Simplici7y to share something with the Aleph One community.</p>
  	<%= link_to "Add your first item", new_item_url, :class => 'button positive add' %>
  <% else %>
  	<p><%= link_to "Add a new item", new_item_url, :class => 'button positive add' %></p>
  	<% for item in @items %>
  		<% versions = item.versions %>
  		<% if versions[0] != nil %>
  			<div class="manage_map">
  				<table class="manage">
  					<tr>
  						<th scope="col">Version</th>
  						<th scope="col">Downloads</th>
  						<th scope="col">Uploaded</th>
  					</tr>
  					<% for version in versions %>
  						<tr class="<%= "newest" if version == item.find_version %>">
  							<td width="100px">
									<%= clean(version.name) %>
  							</td>
  							<td width="100px"><%= version.downloads.size %></td>
  							<td width="100px"><%= version.created_at.to_s(:readable_short) %></td>
  						</tr>
  					<% end %>
  				</table>

  				<h3><%= link_to clean(truncate(item.name, 16)), item_path(item) %></h3>
  				<%= pluralize(item.reviews.size, 'review') %><br /> <%= pluralize(item.downloads.size, 'downloads') %>
  				<hr />
  			</div>
  		<% else %>
  			<div class="notice">
  				<%= clean(truncate(item.name, 16)) %> is missing its first version: <%= link_to 'add version', new_item_version_url(item) %> or <%= link_to "destroy", item_url(item), :class => 'controls', :confirm => "Are you sure?", :method => :delete %>.
  			</div>
  		<% end %>
  	<% end %>
  <% end %>

</div>

<hr />