<h1><%= link_to pagetitle(@user.login), user_path(@user) %></h1>

<div class="content">
  <h2><%= pluralize(@items.size, 'Submission') %></h2>
  
  <%= render :partial => "layouts/sort" %>
  <hr />
  
  <%= render :partial => 'items/show', :collection => @items %>
</div>

<div class="content">
  <h2><%= pluralize(@reviews.size, 'Review') %></h2>
  <%= render :partial => 'reviews/show', :collection => @reviews %>
</div>