<% if @items != nil %>
	<% for item in @items %>
		<% version = item.find_version %>
		<% screenshot = item.rand_screenshot %>

		<% if version != nil %>
			<div class="map">
				<div class="sidenote"><%= link_to 'download &raquo;', item_download_path(item) %></div>
				<h3><%= link_to item.name, item_path(item) %> <%= version.name %></h3>
				<h4><%= link_to item.user.login, user_path(item.user) %> <%= item.updated_at.to_s(:readable_long) %></h4>
				<div class="indent">
					<%= image_tag url_for_file_column(screenshot, "file", "thumb") if screenshot %>
					<%= item.mark_body %>
				
					<% if version.body != "" %>
						<hr class="clear">
						<h3 class='black'>Version notes:</h3>

						<%= version.mark_body %>
					<% end %>

					<h4 style="clear: right; margin: 0 0 2px 0"><%= pluralize(item.downloads.size, 'download') %>, 
						<%= pluralize(item.reviews.size, 'review') %>, 
						<%= pluralize(item.screenshots.size, 'screenshot') %>,
						Rating: <%= item.ratings_count %> ( <%= item.ratings_weighted_count %> weighted )
						</h4>
				
					<div class="subnote">
						<%= link_to "Write a review", new_item_review_url(item) %> <span class="pipe">&#124;</span> Tags: <%= item.tag_list %>
					</div>
				</div>
			</div>
			<hr class="clear">
		<% end %>
	<% end %>

	<%= will_paginate @items %>
<% else %>
	Nothing to see here, move along...
<% end %>