	<fieldset>
		<legend>Version Information</legend>
		<div class="form_sidenote">
			Aleph One's <i>.SceA</i> format is twenty times smaller when zipped.
		</div>

		<ol>
			<li>
				<label for="version_name">Version number <small>displayed after map name.</small></label>
				<%= f.text_field :name %>
			</li>
			<li>
				<label for="version_body">Release Notes <small>changes &amp; comments</small><small><a href="http://daringfireball.net/projects/markdown/basics">advanced formatting</a></small></label>
				<%= f.text_area :body, :class => 'summary' %>
			</li>
			<li>
				<label for="version_file">File Upload <em>*</em> <small>compressed zip or tgz</small></label>
				<%= f.hidden_field :file_temp %><%= f.file_field :file, :class => 'file' %>
			</li>
			<li>
				<label for="version_link">Link URL <em>*</em> <small>include http://</small></label>
				<%= f.text_field :link %>
			</li>
			<li><em>&lowast; must have at least one, but may have both.</em></li>
		</ol>
	</fieldset>