<% version = show.find_version %>
<% screenshot = show.rand_screenshot %>

<% if version != nil %>
	<div class="map">
		<%= download_button(version) %>
		<h3><%= link_to clean(show.name), item_path(show) %> <%= clean(version.name) %></h3>
		<h4><%= link_to clean(show.user.login), user_path(show.user) %> on <%= show.version_created_at.to_s(:readable_short) %></h4>
		<div class="indent markdown">
			<%= link_to ( image_tag url_for_file_column(screenshot, "file", "thumb")),  item_path(show) if screenshot %>
			<%= format(show.body) %>
	
			<%= content_tag(:h5, "Notes for version "+clean(version.name)+":") if version.body != "" %>
			<%= format(version.body) %>

			<h4>
				<%= pluralize(show.downloads.size, 'download') %>, 
				<%= pluralize(show.reviews.size, 'review') %>, 
				<%= pluralize(show.screenshots.size, 'screenshot') %>, 
				<%= "%.1f" % show.ratings_count %> rating 
				</h4>
		</div>
	</div>
	<hr />
<% end %>
