
<h1><%= link_to pagetitle('Downloads'), items_path %></h1>

<div class="sidebar">
  <h2>Search &amp; Sort</h2>

	<%= render :partial => "layouts/sort" %>
	<%= render :partial => "layouts/site" %>
	<hr />
</div>

<div class="content">
  <h2><%= subtitle %></h2>

  <% if @items.count == 0 %>
	  <p>There are no results to display.</p>
  <% end %>

  <%= render :partial => 'items/show', :collection => @items %>

	<hr />
</div>

<div class="sidebar">
  <h2>Filter by Tags</h2>
	<%= render :partial => "layouts/tags" %>
	<hr />
</div>

<hr />

<%= will_paginate @items, :next_label => 'Next', :previous_label => 'Previous' %>