

<div class="sidebar">
	<%= render :partial => "layouts/sort" %>
	<%= render :partial => "layouts/site" %>
	<hr />
</div>

<div class="content">

  <% if @items.count == 0 %>
	  <p>There are no results to display.</p>
  <% end %>

  <%= render :partial => 'items/show', :collection => @items %>

	<hr />
</div>

<div class="sidebar">
	<%= render :partial => "layouts/tags" %>
	<hr />
</div>

<hr />

<%= will_paginate @items, :next_label => 'Next', :previous_label => 'Previous' %>