			<div class="map">
				<div class="sidenote"><%= link_to 'download &raquo;', item_download_path(@item) %></div>
				<h3><%= link_to @item.name, item_path(@item) %>  <%= @version.name %></h3>
				<h4><%= link_to @item.user.login, user_path(@item.user) %> on <%= @item.version_created_at.to_s(:readable_long) %></h4>
				<div class="indent">
					<%= format(@item) %>

					<% if @version.body != "" %>
						<hr class="invisible">
						<h3 class='black'>Version notes:</h3>

						<%= format(@version) %>
					<% end %>
					
					<h4><%= pluralize(@item.downloads.size, 'download') %><br />
					<%= pluralize(@item.reviews.size, 'review') %>, <br />
					<%= pluralize(@item.screenshots.size, 'screenshot') %><br />
					Rating: <%= @item.ratings_count %> ( <%= @item.ratings_weighted_count %> weighted )</h4>
					
					<div class="subnote">
						<%= link_to 'Write a review', new_item_review_path(@item) %> <span class="pipe">&#124;</span> Tags: <%= @item.tag_list %>
					</div>
				</div>
			</div>
			<hr class="invisible">
			
			<div id="map_screenshots">
				<%= "<h3 class=\"title_alt\">Screenshots</h3>" if @screenshots.length.to_i > 0 %>
				<% for screenshot in @screenshots %>
					<div class="screenshot_column_<%= cycle("1","2","3") %>">
						<%= link_to((image_tag url_for_file_column(screenshot, "file", "thumb")), url_for_file_column(screenshot, "file"), {:target => "_blank"} ) %><br />
						<span><%= screenshot.title %></span>
					</div>
				<% end %>
			</div>
			
			<div id="map_reviews">
				<%= render :partial => "reviews/show", :collection => @reviews %>
			</div>