			<div class="map">
				<%= download_button(@version) %>
				<h3><%= clean(@item.name) %>  <span><%= clean(@version.name) %></span></h3>
				<h4><%= link_to clean(@item.user.login), user_path(@item.user) %> on <%= @item.version_created_at.to_s(:readable_short) %></h4>
				<div class="indent">
					<div class="markdown">
						<%= format(@item.body) %>

						<%= content_tag(:h5, "Notes for version "+clean(@version.name)+":") if @version.body != "" %>
						<%= format(@version.body) %>
					</div>
		
					<h4>
						<%= pluralize(@item.downloads.size, 'download') %><br />
						<%= pluralize(@item.reviews.size, 'review') %>, <br />
						<%= pluralize(@item.screenshots.size, 'screenshot') %><br />
						<%= "%.1f" % @item.ratings_count %> rating ( <%= "%.2f" % @item.ratings_weighted_count %>w )<br />
						tags: 
						<% @item.tag_list.split(' ').each do |t| %>
							<%= link_to t, tag_path(t) %>
						<% end %>
					</h4>
				</div>
				
				<hr>
				
				<% if permission(@item) %>
					<%= link_to "Edit information", edit_item_url(@item), :class => 'button change edit-txt' %>
					<%= link_to "Delete everything", item_url(@item), :class => 'button negative delete', :confirm => "Are you sure? This will destroy this item, along with all the versions, screenshots, and reviews associated with it.", :method => :delete %>

					<%= link_to 'Edit version', edit_item_version_path(@item, @version), :class => 'button change edit-txt' %>
					<%= link_to "Add version", new_item_version_url(@item), :class => 'button positive add' %>
				<% end %>
			</div>

			<hr />

			<div id="map_screenshots">
				<%= content_tag(:h3, "Screenshots") if @screenshots.length.to_i > 0 %>
				<%= link_to "Manage screenshots", item_screenshots_url(@item), :class => 'button next' if permission(@item) %>
				<% for screenshot in @screenshots %>
					<div class="screenshot_column_<%= cycle("1","2","3") %>">
						<%= link_to((image_tag url_for_file_column(screenshot, "file", "thumb")), url_for_file_column(screenshot, "file"), {:target => "_blank"} ) %><br />
						<span><%= clean(screenshot.title) %></span>
					</div>
				<% end %>
			</div>
			<hr />

			<div id="map_reviews">
				<%= content_tag(:h3, "Reviews") %>
				<%= link_to "Write a review", new_item_review_url(@item), :class => 'button positive add' %>
				<hr />

				<%= render :partial => "reviews/show", :collection => @reviews %>
			</div>
			