<% #-------------------------[ Filter ]------------------------- %>

	<% if controller.controller_name == 'tags' && params[:id] %>
		<h2>Search <%= clean(params[:id]) %></h2></h2>
		<ul><li><% form_tag(tag_url(params[:id]), :method => :get) do %> <%= text_field_tag :search, params[:search] %> <% end %></li></ul>
	<% elsif controller.controller_name == 'users' && params[:id] %>
		<h2>Search <%= clean(@user.login) %></h2>
		<ul><li><% form_tag(user_url(params[:id]), :method => :get) do %> <%= text_field_tag :search, params[:search] %> <% end %></li></ul>
	<% elsif controller.controller_name == 'items' && params[:id] && @item.tc_id == 0 %>
		<h2>Search <%= clean(@item.name) %></h2>
		<ul><li><% form_tag(item_url(params[:id]), :method => :get) do %> <%= text_field_tag :search, params[:search] %> <% end %></li></ul>
	<% else %>
		<h2>Search</h2>
		<ul><li><% form_tag(items_url, :method => :get) do %> <%= text_field_tag :search, params[:search] %> <% end %></li></ul>
	<% end %>
	

	<h2>Gameplay</h2>
	<ul>
		<li><%= link_to 'Every Man for Himself', tag_path('emfh') %></li>
		<li><%= link_to 'Solo / Cooperative', tag_path('solocoop') %></li>		
		<li><%= link_to 'King of the Hill', tag_path('koth') %></li>
		<li><%= link_to 'Kill the Man with the Ball', tag_path('ktmwtb') %></li>
		<li><%= link_to 'Capture the Flag', tag_path('ctf') %></li>		
		<li><%= link_to 'Survival', tag_path('survival') %></li>		
	</ul>

	<h2>File type</h2>
	<ul>
		<li><%= link_to 'Map', tag_path('map') %></li>
		<li><%= link_to 'Scenario', tag_path('scenario') %></li>
		<li><%= link_to 'Script', tag_path('script') %></li>		
		<li><%= link_to 'Physics', tag_path('physics') %></li>		
		<li><%= link_to 'Utility', tag_path('utility') %></li>		
	</ul>

	<h2>Scenarios</h2>
	<ul>
		<li><%= link_to 'Marathon', item_path('marathon') %></li>		
		<li><%= link_to 'Marathon: Durandal', item_path('marathon-2-durandal') %></li>		
		<li><%= link_to 'Marathon: Infinity', item_path('marathon-infinity') %></li>		
	</ul>