
	<h2>Gameplay Types</h2>
	<ul>
		<li><%= link_to 'Every Man for Himself', tag_path('emfh') %></li>
		<li><%= link_to 'Solo / Cooperative', tag_path('solocoop') %></li>		
		<li><%= link_to 'King of the Hill', tag_path('koth') %></li>
		<li><%= link_to 'Kill the Man with the Ball', tag_path('ktmwtb') %></li>
		<li><%= link_to 'Capture the Flag', tag_path('ctf') %></li>		
		<li><%= link_to 'Survival', tag_path('survival') %></li>		
	</ul>

	<h2>File Types</h2>
	<ul>
		<li><%= link_to 'Map', tag_path('map') %></li>
		<li><%= link_to 'Scenario', tag_path('scenario') %></li>
		<li><%= link_to 'Plugin', tag_path('plugin') %></li>		
		<li><%= link_to 'Enhancement', tag_path('enhancement') %></li>		
		<li><%= link_to 'Script', tag_path('script') %></li>		
		<li><%= link_to 'Physics', tag_path('physics') %></li>		
		<li><%= link_to 'Utility', tag_path('utility') %></li>		
	</ul>

	<h2>Scenarios</h2>
	<ul>
		<li><%= link_to 'Marathon', item_path('marathon') %></li>		
		<li><%= link_to 'Marathon: Durandal', item_path('marathon-2-durandal') %></li>		
		<li><%= link_to 'Marathon: Infinity', item_path('marathon-infinity') %></li>		
	</ul>
